<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="SourceToTargetCorr.SourceToTargetCorrPackage" genModel="model/SourceToTargetCorr.genmodel" uri="platform:/plugin/SourceToTargetCorr/model/SourceToTargetCorr.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="SourceToTargetCorr.Rules.RulesPackage" genModel="model/SourceToTargetCorr.genmodel" uri="platform:/plugin/SourceToTargetCorr/model/SourceToTargetCorr.ecore#//Rules"/>
  </extension>
</plugin>
